@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  /*------COLORS------*/
  /*primary*/
  --clr-light-red: hsl(356, 100%, 66%);
  --clr-very-light-red: hsl(355, 100%, 74%);
  --clr-very-dark-blue: hsl(208, 49%, 24%);
  /*neutral*/
  --clr-white: hsl(0, 0%, 100%);
  --clr-graysh-blue:hsl(240, 2%, 79%);
  --very-dark-blue:hsl(207, 13%, 34%);
  --clr-very-dark-black:hsl(240, 10%, 16%);
  /*gradient*/
  --clr-gra1-light-red:hsl(13, 100%, 72%);
  --clr-gra1-red:hsl(353, 100%, 62%);
  --clr-gra2-dark-blue:hsl(237, 17%, 21%);
  --clr-gra2-dark:hsl(237, 23%, 32%);
  /*------Typography------*/
  /*font*/
  --fs: 16px;
  --ff-overpass: 'Overpass', sans-serif;
  --fw-ov-300:300;
  --fw-ov-600:600;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --fw-ubu-400:400;
  --fw-ubu-500:500;
  --fw-ubu-700:700;
  --mobile-width:375px;
  --desktop-width: 1440px;
}

html {
  overflow: hidden;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 65vh;
  position: relative;
}

header nav {
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-brand a {
  font-family: var(--ff-ubuntu);
  color: var(--clr-white);
  font-size: 1.7rem;
  font-weight: var(--fw-ubu-700);
  padding: 20px;
}

header nav .menu {
  display: none;
}

header .text-header {
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .text-header h2, header .text-header h4 {
  color: var(--clr-white);
  font-family: var(--ff-overpass);
  padding: 0 70px 20px 70px;
}

header .text-header h2 {
  font-size: 2.4rem;
  font-weight: var(--fw-ov-600);
  line-height: 40px;
}

header .text-header h4 {
  font-size: 1.4rem;
  font-weight: var(--fw-ov-300);
  line-height: 30px;
}

header .text-header .buttons {
  font-family: var(--ff-ubuntu);
  font-weight: var(--fw-ubu-700);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 30px;
  line-height: 40px;
}

header .text-header .buttons a {
  border-radius: 30px;
  height: 40px;
  width: 170px;
  margin-top: 20px;
}

header .text-header .buttons .bt-um {
  background: var(--clr-white);
  color: var(--clr-light-red);
  margin-left: 30px;
}

header .text-header .buttons .bt-dois {
  color: var(--clr-white);
  outline: 2px solid var(--clr-white);
  margin-right: 30px;
}

header .img {
  width: 375px;
  height: 400px;
  position: absolute;
  z-index: -1;
}

header .header {
  height: inherit;
  position: absolute;
  z-index: -2;
  width: 100%;
  border-radius: 0 0 0 80px;
  background: linear-gradient(127deg, var(--clr-gra1-light-red) 5%, var(--clr-gra1-red));
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */